
/* ---------------------------- media for (max-width: 768px) ----------------------  */

@media (max-width: 768px){

    .contact .box-container .left{
        flex-basis: 100%;
        padding-bottom: 3rem;
    }
    
    .contact .box-container .right{
        flex-basis: 100%;
    }

}


/* ---------------------------- media for (max-width: 450px) ----------------------  */

@media (max-width: 450px){

    .contact form .inputBox input{
        width: 100%;
    }

}